
@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

@if (CurrentUser.HasRole("Admin"))
{
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")'">User Table</button> 
}
@if (CurrentUser.isAuthenticated())
{
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("OrderList", "Order")'">List of orders</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Order")'">Make new order</button>
}

<p>
    @Html.ActionLink("Change your password", "ChangePassword", "Auth")
</p>
