
@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>
<div class="list-group" id="listGroupCursor">
    @if (CurrentUser.IsAuthenticated)
    {
        <a class="list-group-item" id="listGroupCursor" onclick="location.href='@Url.Action("OrderList", "Order")'">List of orders</a>
        <a class="list-group-item" id="listGroupCursor" onclick="location.href='@Url.Action("Create", "Order")'">Make new order</a>
    }
    @if (CurrentUser.IsAuthenticated && CurrentUser.HasRole("Admin") || CurrentUser.HasRole("Manager"))
    {
        <a class="list-group-item" onclick="location.href='@Url.Action("Index", "Admin")'">User Table</a>
    }
    @if (CurrentUser.IsAuthenticated && CurrentUser.HasRole("Manager") || CurrentUser.HasRole("Manager"))
    {
        <a class="list-group-item" onclick="location.href='@Url.Action("OrderPanel", "Manager")'">Order panel</a>
        <a class="list-group-item" onclick="location.href='@Url.Action("DriverPanel", "Manager")'">Driver panel</a>
        <a class="list-group-item" onclick="location.href='@Url.Action("CarPanel", "Manager")'">Car panel</a>
        <a class="list-group-item" onclick="location.href='@Url.Action("ServicePanel", "Manager")'">Service panel</a>
    }
</div>

<p>
    @Html.ActionLink("Change your password", "ChangePassword", "Auth")
</p>
