@model Client.ViewModels.Order.OrderInfo

@{
    ViewBag.Title = "Заказ принят";
}

<h2>@ViewBag.Title</h2>

<hr />
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.OrderTime, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.OrderTime, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ServiceName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.ServiceName, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FullName, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CarSpec, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.CarSpec, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<br />
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">На главную</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}