@model Client.ViewModels.Order.OrderTableVM
@{
    ViewBag.Title = "Список заказов";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <td>Время заказа</td>
            <td>Начальный адрес</td>
            <td>Конечный адрес</td>
            <td>Услуга</td>
            <td>Действия</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <th>@item.OrderTime<th>
                <th>@item.StartAddress</th>
                <th>@item.EndAddress</th>
                <th>
                    <button disabled="@ViewOperations.isDisabledStatusEdit(item.Status)" 
                            type="button" 
                            class="btn btn-default" 
                            onclick="location.href='@Url.Action("Edit", "Order", new { order = item})'">
                        <span class="glyphicons glyphicons-user"></span> Edit
                    </button>
                    <button type="button" 
                            class="btn btn-default" 
                            onclick="location.href='@Url.Action("Delete", "Order", new { email = Model.UserEmail, order = item })'">
                        <span class="glyphicons glyphicons-user-remove"></span> Delete
                    </button>
                </th>
            </tr>
        }
    </tbody>
</table>




