@model Client.ViewModels.Manager.ManagerVM

@{
    ViewBag.Title = "Список водителей";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Отчество</td>
            <td>Машина</td>
            <td>Действия</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Drivers)
        {
            <tr>
                <th>@(item.UserDetails == null ? "Нет данных" : item.UserDetails.FirstName)</th>
                <th>@(item.UserDetails == null ? "Нет данных" : item.UserDetails.LastName)</th>
                <th>@(item.UserDetails == null ? "Нет данных" : item.UserDetails.MiddleName)</th>
                <th>@item.Car.CarMark @item.Car.CarModel, @item.Car.CarColor</th>
                <th>
                    <button type="button"
                            class="btn btn-default"
                            disabled="true"
                            onclick="location.href='@Url.Action("InBlackList", "Manager", new { Email = item.UserDetails.Email})'">
                        <span class="glyphicons glyphicons-user"></span> InBlackList
                    </button>
                    <button type="button"
                            class="btn btn-default"
                            onclick="location.href='@Url.Action("DeleteDriver", "Manager", new { email = item.UserDetails.Email})'">
                        <span class="glyphicons glyphicons-user-remove"></span> Delete
                    </button>

                </th>
            </tr>
        }
    </tbody>
</table>