@model Client.ViewModels.Admin.AdminPanelViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Список пользователей</h2>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <td>Почта</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Отчество</td>
            <td style="width: 250px">Действия</td>
        </tr>
    </thead>
    <tbody>            
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <th>@item.Email</th>
                    <th>@item.FirstName</th>
                    <th>@item.LastName</th>
                    <th>@item.MiddleName</th>
                    <th>
                        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", "Admin", new { Email = item.Email})'">
                            <span class="glyphicons glyphicons-user"></span> Детально
                        </button>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("CreateDriver", "Manager", new { email = item.Email})'">
                            <span class="glyphicons glyphicons-user-remove"></span> As driver
                        </button>
                        @if (CurrentUser.IsAuthenticated && CurrentUser.HasRole("Admin"))
                        {
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteUser", "Admin", new { Email = item.Email })'">
                                <span class="glyphicons glyphicons-user-remove"></span> Удалить
                            </button>
                        }
                    </th>
                </tr>
            }                
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateUser", "Admin")'">Создать пользователя</button>
