@model Client.ViewModels.Admin.AdminPanelViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Список пользователей</h2>
<head>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script>
        $(document).ready(function ()
        {
            $("#UserTable").tablesorter();
        }); 
    </script>
</head>

<table class="table table-bordered table-condensed table-hover tablesorter" id="UserTable">
    <thead>
        <tr>
            <th class="header headerSortUp headerSortDown">Почта</th>
            <th class="header">Имя</th>
            <th class="header">Фамилия</th>
            <th class="header">Отчество</th>
            <th style="width: 280px">Действия</th>
        </tr>
    </thead>
    <tbody>            
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.MiddleName</td>
                    <td>
                        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", "Admin", new { Email = item.Email})'">
                            <span class="glyphicons glyphicons-user"></span> Детально
                        </button>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("CreateDriver", "Manager", new { email = item.Email})'">
                            <span class="glyphicons glyphicons-user-remove"></span> As driver
                        </button>
                        @if (CurrentUser.IsAuthenticated && CurrentUser.HasRole("Admin"))
                        {
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteUser", "Admin", new { Email = item.Email })'">
                                <span class="glyphicons glyphicons-user-remove"></span> Удалить
                            </button>
                        }
                    </td>
                </tr>
            }                
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateUser", "Admin")'">Создать пользователя</button>
