@model Client.ViewModels.Admin.AdminPanelViewModel

@{
    ViewBag.Title = "Index";
}

<h2>User Table</h2>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <td>Email</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>MiddleName</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>            
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <th>@item.Email</th>
                    <th>@item.FirstName</th>
                    <th>@item.LastName</th>
                    <th>@item.MiddleName</th>
                    <th>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Admin", new { Email = item.Email})'">
                            <span class="glyphicons glyphicons-user"></span> Details
                        </button>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("DeleteUser", "Admin", new { Email = item.Email})'">
                            <span class="glyphicons glyphicons-user-remove"></span> Delete
                        </button>
                    </th>
                </tr>
            }                
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateUser", "Admin")'">Create User</button>
